[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8="*"
rope = "*"

[packages]
# python-networkmanager = "*"
# scapy = "*"
# dbus-python = "==1.2.8"
psutil = "*"
python-nmcli = "*"

[requires]
python_version = "3.7"
